langchain
langchain-community
langchain-huggingface
langchain-chroma
chromadb
filelock
sentence-transformers
pypdf
streamlit
ragas
groq
langchain-groq
python-dotenv
requests
beautifulsoup4
pandas
torchvision
